---
swagger: "2.0"
info:
  description: "Check applications for known vulnerabilities"
  version: "1.0.0"
  title: "Security Oracle API"
host: "security-oracle.eu-gb.mybluemix.net"
schemes:
- "https"
produces:
- "application/json"
paths:
  /app:
    post:
      tags:
      - "App"
      summary: "Post app for security review"
      description: "The app endpoint allows for submission of apps for security review\
        \ by the oracle."
      operationId: "appPOST"
      parameters:
      - in: "body"
        name: "application"
        description: "Application description"
        required: false
        schema:
          $ref: "#/definitions/application"
      responses:
        200:
          description: "Application scan result"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "App"
  /app/{appId}:
    get:
      tags:
      - "App"
      summary: "Get list of reports for an app"
      description: "Returns a list of report IDs for a particular app"
      operationId: "appAppIdGET"
      parameters:
      - name: "appId"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "Relevant reports, sorted most-recent first"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ReportId"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "App"
  /app/{appId}/solutions:
    get:
      tags:
      - "Solutions"
      summary: "Retrieve accepted solutions"
      description: "Retrieve accepted solutions"
      operationId: "appAppIdSolutionsGET"
      parameters:
      - name: "appId"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "Array of accepted solutions - each being a package with version,\
            \ as originally proposed in the report"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/VersionedPackage"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Solutions"
    post:
      tags:
      - "Solutions"
      summary: "Accept (or reject) solutions"
      description: "Accept solutions proposed in the report"
      operationId: "appAppIdSolutionsPOST"
      parameters:
      - name: "appId"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "resolution"
        description: "Array of accepted solutions - each being a package with version,\
          \ as originally proposed in the report"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/VersionedPackage"
      responses:
        200:
          description: "OK"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Solutions"
  /report/{reportId}:
    get:
      tags:
      - "Report"
      summary: "View detailed security report"
      description: "This endpoint displays the detailed security report for a sumbitted\
        \ app, given the generated report id"
      operationId: "reportReportIdGET"
      parameters:
      - name: "reportId"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "Application scan result"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Report"
definitions:
  Platform:
    type: "string"
    enum:
    - "NodeJS"
  AppId:
    type: "string"
  ReportId:
    type: "string"
  Dependency:
    type: "object"
    required:
    - "from"
    - "name"
    - "version"
    properties:
      name:
        type: "string"
      version:
        type: "string"
      from:
        type: "string"
      dependencies:
        $ref: "#/definitions/Dependencies"
  Dependencies:
    type: "array"
    items:
      $ref: "#/definitions/Dependency"
  Vulnerability:
    type: "object"
    properties:
      module:
        type: "string"
      version:
        type: "string"
      vulnerable_versions:
        type: "string"
      patched_versions:
        type: "string"
      title:
        type: "string"
      path:
        type: "array"
        items:
          $ref: "#/definitions/Path"
      advisory:
        type: "string"
      line:
        $ref: "#/definitions/Vulnerability_line"
      content:
        type: "string"
      solutions:
        type: "array"
        items:
          $ref: "#/definitions/VersionedPackage"
  Path:
    type: "array"
    items:
      $ref: "#/definitions/VersionedPackage"
  VersionedPackage:
    type: "string"
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
  application:
    type: "object"
    required:
    - "appId"
    - "name"
    - "platform"
    - "version"
    properties:
      name:
        type: "string"
      version:
        type: "string"
      uris:
        type: "array"
        items:
          type: "string"
      appId:
        $ref: "#/definitions/AppId"
      platform:
        $ref: "#/definitions/Platform"
      dependencies:
        $ref: "#/definitions/Dependencies"
  inline_response_200:
    properties:
      vulnerable:
        type: "boolean"
      reportId:
        type: "string"
  inline_response_200_1:
    properties:
      name:
        type: "string"
      version:
        type: "string"
      uris:
        type: "array"
        items:
          type: "string"
      appId:
        $ref: "#/definitions/AppId"
      vulnerabilities:
        type: "array"
        items:
          $ref: "#/definitions/Vulnerability"
  Vulnerability_line:
    properties:
      start:
        type: "integer"
      end:
        type: "integer"
